.spinner{
	width: 100%;
	min-height: 50px;
	height: 100%;
	background-image: url(./assets/images/spinner.gif);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 20px 0 40px;
}
